.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #e2afaf;
}

.item {
  background-color: green;
  color: rgb(0, 0, 0);
  padding: 40px 0;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(6, 67, 180, 0.15);
}
