
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Raleway", sans-serif;
    height: 100vh;
}


header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    margin: 0px 140px;
    border-bottom: 1px solid rgba(168, 168, 168, 1);


}


ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

li{
    list-style: none;
    color: black;
    font-size: 16px;
    font-weight: 400;

    
}


header h1{
    font-weight: 700;
    font-size: 30px;
    color: black;

}



button{
    background-color: rgba(255, 206, 49, 1);
    padding: 18px 55px;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    
}



.frame img{
    max-width : 600px;
    
}

.frame{
    display: flex;
    padding: 100px 140px;
    justify-content: space-between;
    align-items: center;
}



.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    max-width: 740px;



}

.text h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 116px;

}


.text p{
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    max-width: 700px;

}


.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}


.mail input{
    padding: 18px 40px;
    width: 417px;
    border: none;
    border-radius: 100px;
    background-color: rgba(245, 245, 245, 1);
    font-size: 20px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);



}


.frame-logos1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 600px;
    padding: 60px 140px;
    
}

.frame-logos img{
    width: 160px;
    height: 50px;
}

.frame-logos p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.frame-logos2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 811px;
    height: 44px;
    position: absolute;
    left: 1160px;
    top: 980px;
    gap: 50px;
    
}

.frame-logos2 img{
    width: 100px;
    height: 29px;

}

.frame1{
    border-bottom: 1px solid rgba(168, 168, 168, 1);
}


.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px;
    gap: 70px;
}

.section2-div1{
    display: flex;
    gap: 140px;
    

}

.section2-div1 h1{
    color: black;
    font-size: 58px;
    font-weight: 700;
    line-height: 86px;
    max-width: 780px;


}

.section2-div1 p{
    color: black;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    max-width: 430px;
}

.section2-div2{
    display: flex;
    align-items: center;
    gap: 118px;
}
.section2-div2 img{
    max-width: 620px;

}




.section3{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    

}

.section3 h1{
    color: black;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;


}

.section3 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;

}

.section3-div1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.section3 img{
    max-width: 1600px;
    margin-top: 60px;

}

.section3-div2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: start;
    margin-bottom: 160px;
}




.section3-div2 div h2{
    color: black;
    font-size: 90px;
    font-weight: 750;
    line-height: 130px;
    font-family: "Manrope", sans-serif;

}


.section3-div2 div p{
    color: black;
    font-size: 17px;
    font-weight: 400;
    

}

.section4{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 206, 49, 1);
    align-items: center;
   
}

.section4 h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 116px;
    width: 1260px;
    margin-top: 100px;
    padding: 50px 140px;
    
}

.section4-div1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 190px;
}

.section4 img{
    width: 250px;
    height: 90px;

}

.section5{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    gap: 230px;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    margin: 110px 170px;

}


.foottxt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 80px;

    

}


.foottxt h3{
    color: black;
    font-size: 28px;
    font-weight: 700;
    width: 180px;
    

}

.foottxt p{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    width: 450px;
}


.addons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    
}

.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.section6 h4{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px;
}

@media(max-width: 1050px){
    header{
        margin: 0px 20px;
    }
}


@media(max-width: 800px){
    nav{
        display: none;

    }
    header button{
        display: none;

    }
}
