
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




body{
    width: 100%;
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
}


header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 40px 104px;
    gap: 480px;

}


header h1{
    color: rgb(88,70,251);
    font-size: 30px;
    justify-items: start;
    align-items: start;
    margin: 20px;
}





header nav ul{
    display: flex;
    gap: 40px;

}

header nav ul{
    list-style-type: none;
}


header nav ul li a{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header div{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}






header nav {
    display: flex;
    justify-self: center;
    background-color: white;
    max-width: 487px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px 70px;
    flex-wrap: wrap;
    
}

div img{
    display: none;
    width: 35px;
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.section1{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.section1-div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;

}




.section1-div1 h1{
    color: white;
    font-size: 136px;
    max-width: 1100px;
    font-family: "Space Grotesk", sans-serif;
    
    
    
    

}

.section1-div1 p{
    color: white;
    font-size: 24px;
    max-width: 390px;
    
    

}


.section1-div1 button{
    width: 353px;
    height: 72px;
    font-size: 20px;
    background-color: rgb(88,70,251);
    border-radius: 50px;
    border: none;

}

.section1-div2-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.section1-div2-div div {
    background-color: rgb(31,33,35);
    text-align: center;
    border-radius: 8px;
    border-radius: 80px;
    height: 120px;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.section1-div2-div img {
    width: 45px;
    height: 50px;
    display: block;
    margin: 2px 40px;
    position: relative;
    top: 35px;
}

.section1-div2-div p{
    color: white;
    max-width: 150px;
    margin: -10px 90px;
    max-width: 300px;

}

.section1-div2 h2{
    color: white;
    position: relative;
    top: -40px;
}

.section1-div2{
    margin: 50px;
}

.section2 {
    display: flex;
    background-color: white;
    width: 100%;
    flex-direction: column;
    padding: 120px 190px;
    
}

.section2 h3{
    color: black;
    font-size-adjust: 2;
    max-width: 500px;
    font-weight: 500;
}

.section2 p{
    color: black;
    font-size: medium;
    max-width: 500px;
}


.section2 button{
    background-color: rgb(88,70,251);
    width: 220px;
    height: 60px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    position: relative;
    top: 30px;
    right: 10px;
}

.frame2{
    width: 100%;
    background-color: white;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    top: 40px;

}


.frame2 div{
    position: relative;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -200px;

}

.frame2 .percent{
    background-color: rgb(240, 240, 240);
    width: 170px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    position: relative;
    right: 530px;


}

.percent p{
    font-size: 46px;
   
}

.middle{ 
    display: flex;   
    width: 430px;
    height: 80px;
    background-color: rgba(88, 70, 251, 1);
    border-radius: 50px;
    position: relative;
    left: 820px;
    top: -350px;
    justify-content: center;
    align-items: flex-start;

}

.middle #value1{
    color: white;
    font-size: 39px;
    display: flex;
    position: relative;
    right: 60px;
    top: 15px;
    
}


.middle #value{
    color: white;
    font-size: 10px;
    display: flex;
    position: relative;
    left: 220px;
    top: -15px;

}

.buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;
    background-color :rgba(240, 240, 240, 1);
    border-radius: 50px;
    position: relative;
    left: 1040px;
    top: -340px;

}

.buttom p{
    width: 140px;
    font-weight: 600;
}

.section3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.section3 div{
    width: 450px;
    height: 520px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 40px;
    margin: 80px 30px;
    padding: 70px;
    
    
}


#first img{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: rgba(88, 70, 251, 1);
    border-radius: 100px;
    padding: 10px 10px;
    position: relative;
    right: 24px;
    
    
}

#second img{
    width: 70px;
    height: 70px;
    display: flex;
    background-color: rgba(88, 70, 251, 1);
    border-radius: 100px;
    position: relative;
    padding: 23px 23px;
    right: 24px;
    top: -3px;

}



#third img{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: rgba(88, 70, 251, 1);
    border-radius: 100px;
    padding: 10px 10px;
    position: relative;
    right: 24px;
    

}



#first .title{
    color: black;
    font-size: 60px;
    font-weight: 400;
    width: 340px;
    position: relative;
    top: 120px;
    right: 40px;

}



.title{

    color: black;
    font-size: 60px;
    font-weight: 400;
    width: 340px;
    position: relative;
    top: 120px;
    right: 40px;

}


.desc{
    display: flex;
    position: relative;
    top: 140px;
    right: 30px;
}


.lm{
    color: blue;
    font-size: small;
    position: relative;
    top: 160px;
    right: 30px;
}

.nav-des{
    color: black;
    text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-color: black;
    position: relative;
    top: 370px;
    font-weight: 500;
    right: 800px;
}


.nav-hed p{
    display: flex;
    color: black;
    font-size: 72px;
    width: 280px;
    font-weight: 700;
    position: relative;
    top: -420px;
    left: 700px;
    word-wrap: break-word;
    white-space: normal;
}



.section4{
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}


.section4-header{
    color: blue;
    display: flex;
    margin: 90px 30px;
    padding: 40px;
    font-size: 30px;
}



.section4-bt{
    color: white;
    font-size: 90px;
    font-weight: 500;
    width: 800px;
    padding: 60px;
    position: relative;
    top: -170px;
}

.section4-desc{
    color: white;
    font-size: 22px;
    font-weight: 400;
    width: 700px;
    padding: 60px;
    position: relative;
    top: -290px;
}



.section4 button{
    color: white;
    background-color: rgba(88, 70, 251, 1);
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    position: relative;
    top: -300px;
    left: 60px;
}



.section4 img{
    width: 190px;
    height: 370px;
    position: relative;
    top: -760px;
    left: 900px;

}


#stage{
    width: 350px;
    height: 500px;
    position: relative;

}


.footer1-h{
    display: flex;
    color: white;
    font-size: 100px;
    font-weight: 500;
    width: 700px;
    margin-top: -500px;

}

.foots{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}

.foot{
    width: 370px;
    height: 150px;
    background-color: rgba(31, 33, 35, 1);
    border-radius: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}



.foot p{
    color: white;
    font-size: 25px;
    font-weight: 400;
    width: 160px;
    position: relative;
    left: 60px;

}


.flogs{
    width: 67px;
    height: 30px;

}


.section5{
    background-color: white;
}

.sec5 p{
    color: black;
    font-size: 40px;
    font-weight: 400;
    width: 1080px;
    padding: 80px 70px;

}


.sec5 button{
    width: 210px;
    height: 50px;
    background-color: rgba(88, 70, 251, 1);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    position: relative;
    left: 65px;
    top: -50px;
    font-weight: 500;
    font-size: 20px;

}

#why{
    color: rgba(187, 187, 187, 1);
    font-size: 17px;
    font-weight: 400;
    text-decoration-style: dashed;
    text-decoration: underline;
    text-decoration-color: rgba(187, 187, 187, 1);
    position: relative;
    left: 260px;
    top: -160px;
}


.section5 img{
    width: 500px;
    height: 420px;
    position: relative;
    left: 1300px;
    top: -540px;
}


.footer-section{
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}


.footer-header{
    color: white;
    font-size: 100px;
    font-weight: 500;
    padding: 130px 450px;
    position: relative;
    top: 90px;
    right: 30px;

}

.buttons {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            width: 940px;
            position: relative;
            left: 400px;
            
        }

        .buttons a {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 10px 20px;
            border-radius: 25px;
            font-size: 16px;
            display: inline-block;
        }

        .footer {
            margin-top: 100px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer .brand {
            color: #4a3aff;
            font-weight: bold;
        }

        .footer .links {
            color: #bbb;
        }

        .footer .links a {
            text-decoration: none;
            color: #bbb;
            margin-left: 10px;
        }







@media (max-width: 1000px){
    header{
        justify-content: center;
        align-items: center;
    }
    header div{
        flex-direction: column;

    }
    nav-hed{
        display: inline;
    }

}  


@media (max-width: 600px){
    header nav{
        display: none;
    }

    header{
        padding: 40px 20px;
    }




    header div{
        width: 100%;
        flex-direction: row;

    }
    div img{
        display: inline;
    }

    
}