@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Nosifer&family=Unbounded:wght@200..900&display=swap");

.re2 {
    color: red;
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  position: absolute;
  top: 0px;
  left: 350px;
  
}
