body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  background-color: #071f0d;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 15px;
  background-color: rgb(71, 147, 197);
  padding: 20px;
  border: 2px solid #be8e8e;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box {
  background-color: #270850;
  color: rgb(66, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  font-size: 18px;
}